.page-header {
  background-color: #242424;
  color: #ffffff;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    background-color: #000000;
  }
}

.page-header__logo {
  height: 85px;
  text-align: center;

  // @media (max-width: @mobile-width-only) {

  //   & img {
  //     width: 226px;
  //     height: 30px;
  //   }
  // }

  @media (min-width: @tablet-width) {
    order: 2;
    height: 400px;
    background-color: #000000;
    background-image: url("../../img/bg/back-tablet.webp");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;

    & img {
      margin-top: 40px;
    }
  }

  @media (min-width: @desctop-width) {
    height: 648px;

    & img {
      margin-top: 57px;
    }
  }
}
