.page-header {
  background-color: #242424;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  @media (min-width: @tablet-width) {
    order: 2;
    height: 400px;
  }

  @media (min-width: @desctop-width) {
    height: 648px;
  }

  height: 85px;
}
