.ouline-green() {
  outline: 2px solid green;
  outline-offset: -5px;
}

.ouline-red() {
  outline: 2px solid red;
  outline-offset: -5px;
}

.ouline-blue() {
  outline: 2px solid blue;
  outline-offset: -5px;
}
